footer{
    font-family: 'Lato', sans-serif;
}
.footer-top {
    padding: 40px 0;
    background-color: #0f3057;
    
}
.footer-copyrights {
    padding: 15px;
    color: #fff;
    text-align: center;
    background-color: #132c4c;
}

.footer-copyrights p {
    margin-bottom: 0;
    
}

.footer h3 {
    color: #fff;
    font-size: 22px;
    margin-top: 30px;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li:not(:last-child) {
    border-bottom: 1px solid #fff;
}
.footer li {
    padding: 10px 0;
}
.footer a {
    color: #fff;
    text-decoration: none;
}
