.banner {
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../../images/hero.jpg");
}
.banner-text {
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    display: flex;
}
.banner-text h2,
.banner-text h4 {
    color: #fff;
    text-align: center;
}
.banner-text h4 {
margin-top: 10px;
}
.banner-btn {
    text-align: center;
    margin-top: 30px;
}
.banner-btn a {
    padding: 10px 30px;
    color: #fff;
    border: 2px solid #fff;
    background-color: transparent;
    border-radius: 5px;
    text-decoration: none;
}

.banner-btn a:hover, .banner-btn a:focus{
    color: rgba(0,0,0,0.6);
    background-color: #fff;
}