@import './header.css';
@import './footer.css';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

    body {
      font-family: 'Source Sans Pro', sans-serif;
        color: #444444;
      }
          
      h1, h2, h3, h4, h5, h6 {
        font-family: 'Source Sans Pro', sans-serif;;
      }

      .container > .right {
          margin-top: 180px;
        position: absolute; 
        right: 0; 
        font-size: 20px;
    
        margin-right: 110px;
        color: #0f3057;
        font-family: 'Source Sans Pro', sans-serif;
      }
      
      @media (max-width: 480px) { /* adjust */
        .container {
          flex-direction: column; /* stacks flex-items vertically */
        }
        .container > .right {
          position: static; /* back to default */
          align-self: flex-end; /* aligns to the horizontal end */
        }
      }


     /* table */

     table {
    background-color: black;
     }

     strong {
        font-weight: bold; 
    }
    
    em {
        font-style: italic; 
    }
    
    table {
        margin-top: 30px;
        background: #f5f5f5;
        border-collapse: separate;
        box-shadow: inset 0 1px 0 #fff;
        font-size: 12px;
        line-height: 24px;
        margin:  auto;
        text-align: left;
        width: 800px;
    }	
    
    th {
        background: url(https://jackrugile.com/images/misc/noise-diagonal.png),  #00587a;
        border-left: 1px solid #555;
        border-right: 1px solid #777;
        border-top: 1px solid #555;
        border-bottom: 1px solid #333;
        box-shadow: inset 0 1px 0 #999;
        color: #fff;
      font-weight: bold;
        padding: 10px 15px;
        position: relative;
        text-shadow: 0 1px 0 #161d6f;	
    }
    
    th:after {
        background: linear-gradient #7971ea;
        content: '';
        display: block;
        height: 25%;
        left: 0;
        margin: 1px 0 0 0;
        position: absolute;
        top: 25%;
        width: 100%;
    }
    
    th:first-child {
        border-left: 1px solid #777;	
        box-shadow: inset 1px 1px 0 #999;
    }
    
    th:last-child {
        box-shadow: inset -1px 1px 0 #999;
    }
    
    td {
        border-right: 1px solid #fff;
        border-left: 1px solid #e8e8e8;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #e8e8e8;
        padding: 10px 15px;
        position: relative;
        transition: all 300ms;
    }
    
    td:first-child {
        box-shadow: inset 1px 0 0 #fff;
    }	
    
    td:last-child {
        border-right: 1px solid #e8e8e8;
        box-shadow: inset -1px 0 0 #fff;
    }	
    
    tr {
        background: url(https://jackrugile.com/images/misc/noise-diagonal.png);	
    }
    
    tr:nth-child(odd) td {
        background: #f1f1f1 url(https://jackrugile.com/images/misc/noise-diagonal.png);	
    }
    
    tr:last-of-type td {
        box-shadow: inset 0 -1px 0 #fff; 
    }
    
    tr:last-of-type td:first-child {
        box-shadow: inset 1px -1px 0 #fff;
    }	
    
    tr:last-of-type td:last-child {
        box-shadow: inset -1px -1px 0 #fff;
    }	
    
    tbody:hover td {
        color: transparent;
        text-shadow: 0 0 3px #aaa;
    }
    
    tbody:hover tr:hover td {
        color: #444;
        text-shadow: 0 1px 0 #fff;
    }
/* end of table        */
      /*--------------------------------------------------------------
      # Sections General
      --------------------------------------------------------------*/
      section {
        margin-top: 30px;
        padding: 60px 0;
        overflow: hidden;
      }
      
      .section-bg {
        background-color: #f3f5fa;
      }
      
      .section-title {
        text-align: center;
        padding-bottom: 30px;
      }
      
      .section-title h2 {
        font-size: 32px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: -20px;
        padding-bottom: 20px;
        position: relative;
        color: #0f3057;
        font-family: 'Source Sans Pro', sans-serif;
      }
      
      .section-title h2::before {
        content: '';
        position: absolute;
        display: block;
        width: 120px;
        height: 1px;
        background: #ddd;
        bottom: 1px;
        left: calc(50% - 60px);
      }
      
      .section-title h2::after {
        content: '';
        position: absolute;
        display: block;
        width: 40px;
        height: 3px;
        background: #47b2e4;
        bottom: 0;
        left: calc(50% - 20px);
      }
      
      .section-title p {
        margin-bottom: 0;
      }
    
      /*--------------------------------------------------------------
      # Why Us
      --------------------------------------------------------------*/
      .why-us .content {
        margin-top: 30px;
        padding: 60px 100px 0 100px;
      }
     
   
      .why-us .img {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        margin :10px;
      }
      @media (max-width: 1024px) {
        .why-us .content, .why-us .accordion-list {
          padding-left: 0;
          padding-right: 0;
        }
      }
      
      @media (max-width: 992px) {
        .why-us .img {
          min-height: 400px;
        }
        .why-us .content {
          padding-top: 30px;
        }
        .why-us .accordion-list {
          padding-bottom: 30px;
        }
      }
      
      @media (max-width: 575px) {
        .why-us .img {
          min-height: 200px;
        }
      }
      
      /*--------------------------------------------------------------
      # Services
      --------------------------------------------------------------*/
     
       @media only screen and (max-width: 5400px) and (min-width:1000px) {
        section{
            padding: 60px 0;
        }
        section .section-title{
            text-align:center;
            color:#f3f5fa;
            margin-bottom:50px;
            text-transform:uppercase;
        }
        #what-we-do{
            background:#ffffff;
        }
        #what-we-do .card{
            padding: 1rem!important;
            border: none;
            margin-bottom:1rem;
            -webkit-transition: .5s all ease;
            -moz-transition: .5s all ease;
            transition: .5s all ease;
        }
        #what-we-do .card:hover{
            -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
            -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
            box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
        }
        #what-we-do .card .card-block{
            padding-left: 50px;
            position: relative;
            height: 80px;
        }
        #what-we-do .card .card-block a{
            color: #b671716b !important;
            font-weight:700;
            text-decoration:none;
        }
        #what-we-do .card .card-block a i{
            display:none;
            
        }
        #what-we-do .card:hover .card-block a i{
            display:inline-block;
            font-weight:700;
            
        }
        #what-we-do .card .card-block:before{
            font-family: FontAwesome;
            position: absolute;
            font-size: 39px;
            color: #b67171;
            left: 0;
            -webkit-transition: -webkit-transform .2s ease-in-out;
            transition:transform .2s ease-in-out;
        }
        #what-we-do .card .block-1:before{
            content: "\f0e7";
        }
        #what-we-do .card .block-2:before{
            content: "\f0eb";
        }
        #what-we-do .card .block-3:before{
            content: "\f00c";
        }
        #what-we-do .card .block-4:before{
            content: "\f209";
        }
        #what-we-do .card .block-5:before{
            content: "\f0a1";
        }
        #what-we-do .card .block-6:before{
            content: "\f218";
        }
        #what-we-do .card:hover .card-block:before{
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);	
            -webkit-transition: .5s all ease;
            -moz-transition: .5s all ease;
            transition: .5s all ease;
        } 
      }
     
      @media only screen and (max-width: 1000px) and (min-width: 400px)  {
        section{
            padding: 60px 0;
        }
        section .section-title{
            text-align:center;
            color:#007b5e;
            margin-bottom:50px;
            text-transform:uppercase;
        }
        #what-we-do{
            background:#ffffff;
        }
        #what-we-do .card{
            padding: 1rem!important;
            border: none;
            margin-bottom:1rem;
            -webkit-transition: .5s all ease;
            -moz-transition: .5s all ease;
            transition: .5s all ease;
        }
        #what-we-do .card:hover{
            -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
            -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
            box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
        }
        #what-we-do .card .card-block{
            padding-left: 50px;
            position: relative;
        }
        #what-we-do .card .card-block a{
            color: #007b5e !important;
            font-weight:700;
            text-decoration:none;
        }
        #what-we-do .card .card-block a i{
            display:none;
            
        }
        #what-we-do .card:hover .card-block a i{
            display:inline-block;
            font-weight:700;
            
        }
        #what-we-do .card .card-block:before{
            font-family: FontAwesome;
            position: absolute;
            font-size: 39px;
            color: #007b5e;
            left: 0;
            -webkit-transition: -webkit-transform .2s ease-in-out;
            transition:transform .2s ease-in-out;
        }
        #what-we-do .card .block-1:before{
            content: "\f0e7";
        }
        #what-we-do .card .block-2:before{
            content: "\f0eb";
        }
        #what-we-do .card .block-3:before{
            content: "\f00c";
        }
        #what-we-do .card .block-4:before{
            content: "\f209";
        }
        #what-we-do .card .block-5:before{
            content: "\f0a1";
        }
        #what-we-do .card .block-6:before{
            content: "\f218";
        }
        #what-we-do .card:hover .card-block:before{
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);	
            -webkit-transition: .5s all ease;
            -moz-transition: .5s all ease;
            transition: .5s all ease;
        }
                  }
      
      /*--------------------------------------------------------------
     
      --------------------------------------------------------------*/
    
    
    #demo {
        background: linear-gradient(112deg, #ffffff 50%, #f3f5fa 50%);
        max-width: 900px;
        margin: auto
    }
    
    .carousel-caption {
        position: initial;
        z-index: 10;
        padding: 5rem 8rem;
        color: rgba(78, 77, 77, 0.856);
        text-align: center;
        font-size: 1.2rem;
        font-style: italic;
        font-weight: bold;
        line-height: 2rem
    }
    
    @media(max-width:767px) {
        .carousel-caption {
            position: initial;
            z-index: 10;
            padding: 3rem 2rem;
            color: rgba(78, 77, 77, 0.856);
            text-align: center;
            font-size: 0.7rem;
            font-style: italic;
            font-weight: bold;
            line-height: 1.5rem
        }
    }
    
    .carousel-caption img {
        width: 6rem;
        border-radius: 5rem;
        margin-top: 2rem
    }
    
    @media(max-width:767px) {
        .carousel-caption img {
            width: 4rem;
            border-radius: 4rem;
            margin-top: 1rem
        }
    }
    
    #image-caption {
        font-style: normal;
        font-size: 1rem;
        margin-top: 0.5rem
    }
    
    @media(max-width:767px) {
        #image-caption {
            font-style: normal;
            font-size: 0.6rem;
            margin-top: 0.5rem
        }
    }
    
    i {
        background-color: #b6717191;
        padding: 1.4rem
    }
    
    @media(max-width:767px) {
        i {
            padding: 0.8rem
        }
    }
    
    .carousel-control-prev {
        justify-content: flex-start
    }
    
    .carousel-control-next {
        justify-content: flex-end
    }
    
    .carousel-control-prev,
    .carousel-control-next {
        transition: none;
        opacity: unset
    }
      /*--------------------------------------------------------------
      # Frequently Asked Questions
      --------------------------------------------------------------*/

      @media (max-width: 1200px) {
        .faq .faq-list {
          padding: 0;
        }
      }

/* TEAM CSS */

      .team .member {
        position: relative;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
        padding: 30px;
        border-radius: 5px;
        background: #fff;
        transition: 0.5s;
      }
      
      .team .member .pic {
        overflow: hidden;
        width: 180px;
        border-radius: 50%;
      }
      
      .team .member .pic img {
        transition: ease-in-out 0.3s;
      }
      
      .team .member:hover {
        transform: translateY(-10px);
      }
      
      .team .member .member-info {
        padding-left: 30px;
      }
      
      .team .member h4 {
        font-weight: 700;
        margin-bottom: 5px;
        font-size: 20px;
        color: #37517e;
      }
      
      .team .member span {
        display: block;
        font-size: 15px;
        padding-bottom: 10px;
        position: relative;
        font-weight: 500;
      }
      
      .team .member span::after {
        content: '';
        position: absolute;
        display: block;
        width: 50px;
        height: 1px;
        background: #cbd6e9;
        bottom: 0;
        left: 0;
        font-family: 'Source Sans Pro', sans-serif;
      }
      
      .team .member p {
        margin: 10px 0 0 0;
        font-size: 14px;
      }
      
      .team .member .social {
        margin-top: 12px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      
      .team .member .social a {
        transition: ease-in-out 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        width: 32px;
        height: 32px;
        background: #eff2f8;
      }
      
      .team .member .social a i {
        color: #37517e;
        font-size: 16px;
        margin: 0 2px;
      }
      
      .team .member .social a:hover {
        background: #47b2e4;
      }
      
      .team .member .social a:hover i {
        color: #fff;
      }
      
      .team .member .social a + a {
        margin-left: 8px;
      }
      
 